<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{{url_for('.static', filename='dashboard2.css')}}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
      <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script src="http://www.google.com/uds/solutions/dynamicfeed/gfdynamicfeedcontrol.js"
  type="text/javascript"></script>

  <style type="text/css">
  @import url("http://www.google.com/uds/solutions/dynamicfeed/gfdynamicfeedcontrol.css");

  #feedControl {
  margin-top : 10px;
  margin-left: auto;
  margin-right: auto;
  width : 440px;
  font-size: 12px;
  color: #9CADD0;
  }
  </style>
  <script type="text/javascript">
  function load() {
  var feed =”http://rss.cnn.com/rss/edition_world.rss”;
  new GFdynamicFeedControl(feed, "feedControl");

  }
  google.load("feeds", "1");
  google.setOnLoadCallback(load);
  </script>
  </head>

  <script>
    function myFunction() {
      var x = document.getElementById("myDIV");
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }
    }
  </script>

  <body>


  <nav>
    <input type="checkbox" id="check">
    <label for="check" onclick="myFunction()" class="checkbtn">
      <i class="fas fa-bars"></i>
    </label>
  <label class="logo">My GST</label>
  <ul>
    <li><a class="active" href="{{url_for('dashboard')}}">Dashboard</a></li>
    <li><a href="#">MyQuestions</a></li>
    <li><a href="#">Services</a></li>
    <li><a href="#">Acts</a></li>
    <li><a href="{{url_for('logout')}}">Logout</a></li>

  </ul>
  </nav>
  <div id="body">
<div id="feedControl">Loading...</div>
</div>


<!-- rss -->
<div class="news1">


<feed xmlns="http://www.w3.org/2005/Atom" xmlns:idx="urn:atom-extension:indexing">
<id>
tag:google.com,2005:reader/user/16829128816842626169/state/com.google/alerts/7309628685639813474
</id>
<title>Google Alert - gst</title>
<link href="https://www.google.com/alerts/feeds/16829128816842626169/7309628685639813474" rel="self"/>
<updated>2020-03-21T04:07:30Z</updated>
<entry>
<id>
tag:google.com,2013:googlealerts/feed:8117032067347804756
</id>
<title type="html">
Beyond Janta Curfew: Govt Must Ensure MSME Sector, the Backbone of India&#39;s Economy, Survives ...
</title>
<link href="https://www.google.com/url?rct=j&sa=t&url=https://www.news18.com/news/india/beyond-janta-curfew-govt-must-ensure-msme-sector-the-backbone-of-indias-economy-survives-coronavirus-2545215.html&ct=ga&cd=CAIyHGNmNWE2Yjc0YzBkMWNmMjM6Y29tOmVuOklOOlI&usg=AFQjCNE9RxxLmxb3O7BSWJltM1Zg8LTYwg"/>
<published>2020-03-21T04:07:30Z</published>
<updated>2020-03-21T04:07:30Z</updated>
<content type="html">
... wages, the pressure of statutory dues such as PF, <b>GST</b>, advance tax and running cost, which include the payment of electricity, water and other bills.
</content>
<author>
<name/>
</author>
</entry>
<entry>
<id>
tag:google.com,2013:googlealerts/feed:12656576781773520302
</id>
<title type="html">How to bounce back post Coronavirus</title>
<link href="https://www.google.com/url?rct=j&sa=t&url=https://www.freepressjournal.in/interviews/how-to-bounce-back-post-coronavirus&ct=ga&cd=CAIyHGNmNWE2Yjc0YzBkMWNmMjM6Y29tOmVuOklOOlI&usg=AFQjCNHkyKjqAIUqClgLSS-QTYZTfsH6Dw"/>
<published>2020-03-21T03:22:30Z</published>
<updated>2020-03-21T03:22:30Z</updated>
<content type="html">
Due to the invoice raised, the <b>GST</b> authorities came to the office of this SME to attach their office because the <b>GST</b> payment was due. While the public&nbsp;...
</content>
<author>
<name/>
</author>
</entry>
<entry>
<id>
tag:google.com,2013:googlealerts/feed:3602174883235977207
</id>
<title type="html">
Migrant labour face Catch-22 situation as Covid-19 grips textile industries
</title>
<link href="https://www.google.com/url?rct=j&sa=t&url=https://timesofindia.indiatimes.com/city/coimbatore/migrant-labour-face-catch-22-situation-as-covid-19-grips-textile-industries/articleshow/74739032.cms&ct=ga&cd=CAIyHGNmNWE2Yjc0YzBkMWNmMjM6Y29tOmVuOklOOlI&usg=AFQjCNEab94nOnGjORkdus6-CgTEpPInuQ"/>
<published>2020-03-20T22:41:15Z</published>
<updated>2020-03-20T22:41:15Z</updated>
<content type="html">
... man from Bihar was working at a pump-making unit in Coimbatore till 2017 when he became jobless after the <b>GST</b> churn in the MSME sector. Lallan&nbsp;...
</content>
<author>
<name/>
</author>
</entry>
<entry>
<id>
tag:google.com,2013:googlealerts/feed:14371846567454933862
</id>
<title type="html">
CII proposes action points for reviving travel &amp; tourism sector
</title>
<link href="https://www.google.com/url?rct=j&sa=t&url=https://www.dailyexcelsior.com/cii-proposes-action-points-for-reviving-travel-tourism-sector/&ct=ga&cd=CAIyHGNmNWE2Yjc0YzBkMWNmMjM6Y29tOmVuOklOOlI&usg=AFQjCNGn1YxyHSDvUwoscVhmJKcBlvJu_w"/>
<published>2020-03-20T20:48:01Z</published>
<updated>2020-03-20T20:48:01Z</updated>
<content type="html">
It also suggested for the deferment of <b>GST</b> and advance tax payments and removal of fees for upcoming licenses, renewal of permits, excise&nbsp;...
</content>
<author>
<name/>
</author>
</entry>
<entry>
<id>
tag:google.com,2013:googlealerts/feed:7086874169483197671
</id>
<title type="html">Needed, <b>GST</b>, not another alphabet soup</title>
<link href="https://www.google.com/url?rct=j&sa=t&url=https://economictimes.indiatimes.com/blogs/et-editorials/needed-gst-not-another-alphabet-soup/&ct=ga&cd=CAIyHGNmNWE2Yjc0YzBkMWNmMjM6Y29tOmVuOklOOlI&usg=AFQjCNFRPuSSWObA4GPqL_RSmOu7Tq3Diw"/>
<published>2020-03-20T17:26:15Z</published>
<updated>2020-03-20T17:26:15Z</updated>
<content type="html">
A far simpler way would be to subsume all indirect taxes under <b>GST</b> and to refund exporters all indirect tax payment as input tax credit. Nevertheless, the&nbsp;...
</content>
<author>
<name/>
</author>
</entry>
<entry>
<id>
tag:google.com,2013:googlealerts/feed:1294482886514381943
</id>
<title type="html">
Gold price tops Rs 41000 per 10 gram, silver up Rs 1920 per kg
</title>
<link href="https://www.google.com/url?rct=j&sa=t&url=https://www.moneycontrol.com/news/business/commodities/gold-price-tops-rs-41000-per-10-gram-silver-up-rs-1920-per-kg-5055691.html&ct=ga&cd=CAIyHGNmNWE2Yjc0YzBkMWNmMjM6Y29tOmVuOklOOlI&usg=AFQjCNGqSelMDesThsAbbKH2SsjfuGjSMw"/>
<published>2020-03-20T15:11:15Z</published>
<updated>2020-03-20T15:11:15Z</updated>
<content type="html">
... 37,863 plus 3 percent <b>GST</b>, while 24-carat 10 gram was Rs 41,335 plus <b>GST</b>. The 18-carat gold quoted at Rs 31,001 plus <b>GST</b> in the retail market.
</content>
<author>
<name/>
</author>
</entry>
<entry>
<id>
tag:google.com,2013:googlealerts/feed:14559507589753353305
</id>
<title type="html"><b>GST</b> FAQs: All you need to know</title>
<link href="https://www.google.com/url?rct=j&sa=t&url=https://timesofindia.indiatimes.com/business/faqs/gst-faqs/gst-faqs-all-you-need-to-know/articleshow/74735145.cms&ct=ga&cd=CAIyHGNmNWE2Yjc0YzBkMWNmMjM6Y29tOmVuOklOOlI&usg=AFQjCNECnU5wgGDOZzUSbSNDY9NkoYdxGA"/>
<published>2020-03-20T14:15:00Z</published>
<updated>2020-03-20T14:15:00Z</updated>
<content type="html">
<b>GST</b> is a destination based tax on consumption of goods and services. It is proposed to be levied at all stages right from manufacture up to final&nbsp;...
</content>
<author>
<name/>
</author>
</entry>
<entry>
<id>
tag:google.com,2013:googlealerts/feed:9666845898741991419
</id>
<title type="html">Paras Chhabra: One can&#39;t fool the audience</title>
<link href="https://www.google.com/url?rct=j&sa=t&url=https://newsd.in/paras-chhabra-one-can-t-fool-the-audience/&ct=ga&cd=CAIyHGNmNWE2Yjc0YzBkMWNmMjM6Y29tOmVuOklOOlI&usg=AFQjCNGM3h7t0a78bzRxj7gxaoJntwOK0Q"/>
<published>2020-03-20T14:15:00Z</published>
<updated>2020-03-20T14:15:00Z</updated>
<content type="html">
Every time he says mere <b>GST</b> issues chal rahe hain (I&#39;m having <b>GST</b> issues), hence I haven&#39;t got my prize money of Bigg Boss 13 and shall pay you&nbsp;...
</content>
<author>
<name/>
</author>
</entry>
<entry>
<id>
tag:google.com,2013:googlealerts/feed:12625775065215830983
</id>
<title type="html">
Rajasthan HC denies Transitional Credit due to Non-Attempt to File <b>GST</b> TRAN-1 [Read Order]
</title>
<link href="https://www.google.com/url?rct=j&sa=t&url=https://www.taxscan.in/rajasthan-hc-denies-transitional-credit-due-non-attempt-file-gst-tran-1/53177/&ct=ga&cd=CAIyHGNmNWE2Yjc0YzBkMWNmMjM6Y29tOmVuOklOOlI&usg=AFQjCNG6plO37wz8MQYG7ZS8i7oNNfDKjw"/>
<published>2020-03-20T14:15:00Z</published>
<updated>2020-03-20T14:15:00Z</updated>
<content type="html">
After attempting help at the <b>GST</b> network portal, the petitioners approached the department for manually accepting the Form <b>GST</b> Tran-1 and made&nbsp;...
</content>
<author>
<name/>
</author>
</entry>
<entry>
<id>
tag:google.com,2013:googlealerts/feed:16217325502233615049
</id>
<title type="html">
Tripura deputy CM Jishnu Dev Varma presents Rs 19891 crore tax-free Budget
</title>
<link href="https://www.google.com/url?rct=j&sa=t&url=https://nenow.in/north-east-news/tripura/tripura-deputy-cm-jishnu-dev-varma-presents-rs-19891-crore-tax-free-budget.html&ct=ga&cd=CAIyHGNmNWE2Yjc0YzBkMWNmMjM6Y29tOmVuOklOOlI&usg=AFQjCNGt7xYl_rimrtBxuo21dVDbbzdX_g"/>
<published>2020-03-20T14:03:45Z</published>
<updated>2020-03-20T14:03:45Z</updated>
<content type="html">
The measures include widening of <b>GST</b> (Goods and Services Tax) base by almost 50 per cent, setting up of tax intelligence unit for detecting evasion&nbsp;...
</content>
<author>
<name/>
</author>
</entry>
<entry>
<id>
tag:google.com,2013:googlealerts/feed:468751699678367622
</id>
<title type="html">
Maharashtra: Multiple Raids Net 484 Kgs Of Ephedrine, Rs 89 Lakh
</title>
<link href="https://www.google.com/url?rct=j&sa=t&url=https://www.republicworld.com/india-news/law-and-order/maha-multiple-raids-net-484-kgs-of-ephedrine-rs-89-lakh.html&ct=ga&cd=CAIyHGNmNWE2Yjc0YzBkMWNmMjM6Y29tOmVuOklOOlI&usg=AFQjCNFsbd6hKz0FX4Q14_UXee-qyKrBiQ"/>
<published>2020-03-20T14:03:45Z</published>
<updated>2020-03-20T14:03:45Z</updated>
<content type="html">
... the help of Directorate General of <b>GST</b> Intelligence-Belgaum, in Kolhapur, some 470 kilometres from here, said DRI deputy director Yogesh Loke.
</content>
<author>
<name/>
</author>
</entry>
<entry>
<id>
tag:google.com,2013:googlealerts/feed:8696732126750378761
</id>
<title type="html">
IIA brings up various <b>GST</b> related issues faced by MSMEs with top CGST &amp; Central Excise official in ...
</title>
<link href="https://www.google.com/url?rct=j&sa=t&url=https://knnindia.co.in/news/newsdetails/state/iia-brings-up-various-gst-related-issues-faced-by-msmes-with-top-cgst-central-excise-official-in-lucknow&ct=ga&cd=CAIyHGNmNWE2Yjc0YzBkMWNmMjM6Y29tOmVuOklOOlI&usg=AFQjCNEwoMgxfGeKQSiHWkvGjwTeS2fkGg"/>
<published>2020-03-20T11:15:00Z</published>
<updated>2020-03-20T11:15:00Z</updated>
<content type="html">
In a meeting held in Lucknow Zone with the Commissioner on Thursday, IIA apprised him of the various issues in <b>GST</b> and submitted the issues which&nbsp;...
</content>
<author>
<name/>
</author>
</entry>
<entry>
<id>
tag:google.com,2013:googlealerts/feed:4201606283769117344
</id>
<title type="html">
Now, Indians Can Get Coronavirus Insurance Cover For as Low as Rs 149
</title>
<link href="https://www.google.com/url?rct=j&sa=t&url=https://www.news18.com/news/india/now-indians-can-get-coronavirus-insurance-cover-for-as-low-as-rs-149-2544573.html&ct=ga&cd=CAIyHGNmNWE2Yjc0YzBkMWNmMjM6Y29tOmVuOklOOlI&usg=AFQjCNELAn-ExBhypxR7zp9tQ3pntrzcTQ"/>
<published>2020-03-20T11:03:45Z</published>
<updated>2020-03-20T11:03:45Z</updated>
<content type="html">
The Star Novel Coronavirus policy is available under two sum insured options -- Rs 21,000 and Rs 42,000 -- at premiums of Rs 459 plus <b>GST</b> and Rs&nbsp;...
</content>
<author>
<name/>
</author>
</entry>
<entry>
<id>
tag:google.com,2013:googlealerts/feed:3617203393581370640
</id>
<title type="html">
Cong MP demands roll back in hike in excise duty on petrol
</title>
<link href="https://www.google.com/url?rct=j&sa=t&url=https://www.devdiscourse.com/article/headlines/947333-cong-mp-demands-roll-back-in-hike-in-excise-duty-on-petrol&ct=ga&cd=CAIyHGNmNWE2Yjc0YzBkMWNmMjM6Y29tOmVuOklOOlI&usg=AFQjCNHZ_VyL51lCrAmEMafTFGfrHADilA"/>
<published>2020-03-20T08:48:45Z</published>
<updated>2020-03-20T08:48:45Z</updated>
<content type="html">
He also asked for waiver of <b>GST</b> till the &quot;disaster&quot; is over. K Veeraswamy (DMK) demanded the government take steps for the welfare of students&nbsp;...
</content>
<author>
<name/>
</author>
</entry>
<entry>
<id>
tag:google.com,2013:googlealerts/feed:5909446838785826005
</id>
<title type="html">
Cong MP demands roll back in hike in excise duty on petrol
</title>
<link href="https://www.google.com/url?rct=j&sa=t&url=https://in.news.yahoo.com/cong-mp-demands-roll-back-084845781.html&ct=ga&cd=CAIyHGNmNWE2Yjc0YzBkMWNmMjM6Y29tOmVuOklOOlI&usg=AFQjCNFm60d7O94hRCwNISr22Ck__Sw2ig"/>
<published>2020-03-20T08:48:45Z</published>
<updated>2020-03-20T08:48:45Z</updated>
<content type="html">
He also asked for waiver of <b>GST</b> till the &#39;disaster&#39; is over. K Veeraswamy (DMK) demanded the government take steps for the welfare of students&nbsp;...
</content>
<author>
<name/>
</author>
</entry>
<entry>
<id>
tag:google.com,2013:googlealerts/feed:4791514943133369648
</id>
<title type="html">
Supreme Court stays Kerala, Allahabad High Court orders deferring recovery of all taxes till April 6
</title>
<link href="https://www.google.com/url?rct=j&sa=t&url=https://www.barandbench.com/news/litigation/supreme-court-stays-kerala-allahabad-high-court-orders-deferring-recovery-of-all-taxes-till-april-6&ct=ga&cd=CAIyHGNmNWE2Yjc0YzBkMWNmMjM6Y29tOmVuOklOOlI&usg=AFQjCNGtyKJ5ktLCiFlx2jBvhz96EZMP6g"/>
<published>2020-03-20T08:26:15Z</published>
<updated>2020-03-20T08:26:15Z</updated>
<content type="html">
He argued that the amount collected monthly by the Centre by way of <b>GST</b> is what was used for payment of salaries. Orders of the nature passed by&nbsp;...
</content>
<author>
<name/>
</author>
</entry>
<entry>
<id>
tag:google.com,2013:googlealerts/feed:3937728417362158692
</id>
<title type="html">
COVID-19: After Demo and <b>GST</b>, Textile Industry Braces For Another Impact
</title>
<link href="https://www.google.com/url?rct=j&sa=t&url=https://www.newsclick.in/Coronavirus-Impact-Tamil-Nadu-Textile-Industry&ct=ga&cd=CAIyHGNmNWE2Yjc0YzBkMWNmMjM6Y29tOmVuOklOOlI&usg=AFQjCNFsPLd1v4R1B2jTQ2-0HeW7yKgumw"/>
<published>2020-03-20T08:15:00Z</published>
<updated>2020-03-20T08:15:00Z</updated>
<content type="html">
COVID-19 was the industry&#39;s third disaster after the ill-conceived demonetisation and the imposition of Goods and Sales Tax (<b>GST</b>). The Tamil Nadu&nbsp;...
</content>
<author>
<name/>
</author>
</entry>
<entry>
<id>
tag:google.com,2013:googlealerts/feed:15910741246466706799
</id>
<title type="html">
Coronavirus: CII urges deferring <b>GST</b> payments for tourism, hospitality industry
</title>
<link href="https://www.google.com/url?rct=j&sa=t&url=https://www.livemint.com/companies/news/coronavirus-cii-urges-deferring-gst-payments-for-tourism-hospitality-industry-11584688172396.html&ct=ga&cd=CAIyHGNmNWE2Yjc0YzBkMWNmMjM6Y29tOmVuOklOOlI&usg=AFQjCNGY-EV0-z1vA3DLjlWf4IPIh9NvzA"/>
<published>2020-03-20T07:30:00Z</published>
<updated>2020-03-20T07:30:00Z</updated>
<content type="html">
... (<b>GST</b>) and advance tax payments, and sought scrapping of fees for licenses, permit renewals, and excise exemption for liquor for the hospitality and&nbsp;...
</content>
<author>
<name/>
</author>
</entry>
<entry>
<id>
tag:google.com,2013:googlealerts/feed:9416884265574424378
</id>
<title type="html">
[Breaking] SC Stays Orders Of Kerala &amp; Allahabad HCs Which Restrained Centre From Recovering ...
</title>
<link href="https://www.google.com/url?rct=j&sa=t&url=https://www.livelaw.in/top-stories/sc-stays-orders-of-kerala-allahabad-hcs-which-restrained-centre-from-recovering-gst-income-tax-due-to-covid-19-154125&ct=ga&cd=CAIyHGNmNWE2Yjc0YzBkMWNmMjM6Y29tOmVuOklOOlI&usg=AFQjCNHGD3zydSQ4OoEk64BgEWvRHi4pqA"/>
<published>2020-03-20T07:18:45Z</published>
<updated>2020-03-20T07:18:45Z</updated>
<content type="html">
... directions to departments concerned like banks, financial institutions, Income Tax authorities, erstwhile KVAT, <b>GST</b>, recovery of tax on motor vehicles&nbsp;...
</content>
<author>
<name/>
</author>
</entry>
<entry>
<id>
tag:google.com,2013:googlealerts/feed:1004512576511715135
</id>
<title type="html">
SC stays Kerala HC order asking authorities not to levy <b>GST</b>, taxes and recover banks&#39; dues till ...
</title>
<link href="https://www.google.com/url?rct=j&sa=t&url=https://www.devdiscourse.com/article/newsalert/947144-sc-stays-kerala-hc-order-asking-authorities-not-to-levy-gst-taxes-and-recover-banks-dues-till-april-6-due-to-coronavirus&ct=ga&cd=CAIyHGNmNWE2Yjc0YzBkMWNmMjM6Y29tOmVuOklOOlI&usg=AFQjCNEndnLD3HS3HDmid6cP4Ngq4bxd4A"/>
<published>2020-03-20T06:45:00Z</published>
<updated>2020-03-20T06:45:00Z</updated>
<content type="html">
SC stays Kerala HC order asking authorities not to levy <b>GST</b>, taxes and recover banks&#39; dues till April 6 due to coronavirus.
</content>
<author>
<name/>
</author>
</entry>
</div>

  <!-- <div class="container">
    <div class="row">
      <div class="col ">
        <h3>Hello Siddharth</h3>
      </div>
    </div>

    <div class="row">
      <div class="col">
        Latest Questions

      </div>
      <div class="col">
        Ask Question
      </div>
    </div>


  </div> -->

  <div class="container" id="myDIV">
  <h1 style="color:white;">Hello {{user.username}}</h1>
  <div class="row">
    <div class="col-md-8 col-sm-8" style="background-color:rgba(0,0,0,0.8);">
      <h4 style="color:white;">Latest Questions </h4>
      {%if queries|length<=5%}
      {%for qry in queries%}
      <p>{{qry.id}}: {{qry.query}}</p>
      {%endfor%}
      {%endif%}
      {%set count=0%}
      {%if queries|length>5%}
      {%for qry in queries%}
      {%set count=count+1%}
      {%if count<=5%}
      <p>{{qry.id}}: {{qry.query}}</p>
      {%endif%}
      {%endfor%}
      {%endif%}
    </div>
    <div class="col-md-4 col-sm-4" style="background-color:;">
      <br>
      <br>
      <a class="btn btn-primary" href="{{url_for('askquestion')}}" role="button">Ask a Question</a>
      <br>
      <br>


    </div>
  </div>
</div>




  </body>
</html>
