<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="{{url_for('.static', filename='dashboard2.css')}}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>

<body>

<div class="wrapper">


  <nav>
    <input type="checkbox" id="check">
    <label for="check" onclick="myFunction()" class="checkbtn">
      <i class="fas fa-bars"></i>
    </label>
    <a class="navbar-brand" href="#">
        <img id="brand-image" src="{{url_for('.static', filename='Layer 2.png')}}" alt="xyz" height="60">
    </a>
    <ul>
      <li><a class="active" href="{{url_for('dashboard')}}">Dashboard</a></li>
      <li><a href="{{url_for('myquestions')}}">MyQuestions</a></li>
      <li><a href="#">Services</a></li>
      <li><a href="#">Acts</a></li>
      <li><a href="{{url_for('logout')}}">Logout</a></li>

    </ul>
  </nav>

  <div class="newsbox">
    <marquee direction=left>
      Hello
    </marquee>
  </div>
  <div class="container" id="myDIV">
    <h1 style="color: rgb(0, 0, 0);">Hello {{user.username}}</h1>
    <div class="row">
      <div class="col-md-8 col-sm-8" style="background-color:rgba(0,0,0,0.8);">
        <h4 style="color:white;">Latest Questions </h4>
        {%for qry in queries%}
        {%if loop.index <=5%}
        <p>{{qry.userqrynum}}: {{qry.title}}</p>
        {%endif%}
        {%endfor%}
      </div>
      <div class="col-md-4 col-sm-4" style="background-color:;">
        <br>
        <br>
        <a class="btn btn-primary" href="{{url_for('askquestion')}}" role="button">Ask a Question</a>
        <br>
        <br>


      </div>
    </div>
  </div>


</div>

</body>

</html>
