<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="fucklogin.css">
    <!-- <link rel="stylesheet" href="{{url_for('.static', filename='login.css')}}"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
<div class="wrapper">

  <nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
      <i class="fas fa-bars"></i>
    </label>
  <label class="logo">My GST</label>
  <ul>
    <li><a  href="#">Home</a></li>
    <li><a href="#">About Us</a></li>
    <li><a href="#">Services</a></li>
    <li><a href="{{ url_for('login') }}" class="active">Login</a></li>
    <li><a href="{{ url_for('signup') }}">Signup</a></li>
  </ul>
  </nav>

    <div class="sign-up-form">
      <img src="{{url_for('.static', filename='user-icon.png')}}" alt="xyz">
      <h1>Log in</h1>
      <form action="{{ url_for('login') }}" method="POST">
        <input type="text" class="input-box" name="username" placeholder="Username">
        <input type="password" class="input-box" name="password" placeholder="Password">
        <p><span><input type="checkbox" name="remember" value=""></span>Remember me</p>
        <button type="submit" name="button" class="sign-btn">Login</button>
      </form>

    </div>


</div>

  </body>
</html>
