<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">

  <title></title>
  <link rel="stylesheet" href="{{url_for('.static', filename='myquestions.css')}}">
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
</head>

<body>
  <nav>
    <input type="checkbox" id="check">
    <label for="check" onclick="myFunction()" class="checkbtn">
      <i class="fas fa-bars"></i>
    </label>
    <label class="logo">My GST</label>
    <ul>
      <li><a href="{{url_for('dashboard')}}">Dashboard</a></li>
      <li><a href="{{url_for('myquestions')}}" class="active">MyQuestions</a></li>
      <li><a href="#">Services</a></li>
      <li><a href="#">Acts</a></li>
      <li><a href="{{url_for('logout')}}">Logout</a></li>
    </ul>
  </nav>

  <br>
  <br>




  <section>
    <!-- <form action="{{ url_for('askquestion') }}" method="POST"> -->
    <form>


      <main>

        {%for qry in queries%}
        <a href="#modal" class={{loop.index}}>{{qry.userqrynum}}: {{qry.title}}</a><br>
        {%endfor%}


        <div class="modal" id="modal">
          <div class="modal__content">
            <a href="#" class="modal__close">&times;</a>
            <h2 id="qry_title" class="modal__heading"></h2>
            <p id="qry" class="modal__paragraph"></p>
            <br>
            <br>
            <p id="qry_reply" class="modal__paragraph"></p>
            <br>
            <br>
            <div class="btn_div" onclick="btnClicked()">
              <a class="a_as_btn">Ask further Question</a>
            </div>
          </div>
        </div>


        <br>

      </main>
    </form>

  </section>




  <script>

    $('a').click(function () {
      var theClass = this.className;
      doWork(event, theClass)
    });


    function doWork(event, className) {
      var qry;
      // Using fetch api to call backend endpoint
      fetch('/postmethod', {
        method: 'POST',
        headers: {
          'content-type': 'application/json'
        },
        body: JSON.stringify(className)
      })
        // uncomment line under this if response is in json format
        .then(response => response.json())
        // .then(response => response.text())
        .then(data => {
          console.log(data);
          document.getElementById("qry_title").innerHTML=data.title;
          document.getElementById("qry").innerHTML=data.query;
          document.getElementById("qry_reply").innerHTML=data.reply;
        });

      // event.preventDefault();
    }


    function btnClicked() {
      window.location.href = "{{url_for('askquestion')}}";
    }
  </script>



</body>

</body>

</html>