<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{{url_for('.static', filename='signup.css')}}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>


<div class="wrapper">

  <nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
      <i class="fas fa-bars"></i>
    </label>
    <a class="navbar-brand" href="#">
        <img id="brand-image" src="{{url_for('.static', filename='Layer 2.png')}}" alt="xyz" height="110" style="padding-top: 40px;">
    </a>

  <ul>
    <li><a  href="#">Home</a></li>
    <li><a href="{{url_for('AboutUs')}}">About Us</a></li>
    <li><a href="#">Services</a></li>
    <li><a href="{{ url_for('login') }}">Login</a></li>
    <!-- <li><a href="{{ url_for('signup') }}" class="active">Signup</a></li> -->
  </ul>
  </nav>
    <div class="sign-up-form">
      <img src="{{url_for('.static', filename='user-icon.png')}}" alt="xyz">
      <h1>Sign Up Now</h1>
      <form action="{{ url_for('signup') }}" method="POST">
        <input type="text" class="input-box" name="username" placeholder="Username" required>
        <input type="email" class="input-box" name="email" placeholder="Your Email" required>
        <input type="password" class="input-box" name="password" placeholder="Password" required>
        <input type="password" class="input-box" name="confirmpassword" placeholder="Confirm Password" required>
        <p><span><input type="checkbox" name="" value=""></span>I agree to the terms of services</p>
        <button type="submit" name="button" class="sign-btn">Sign Up</button>
        <hr>
        <p class="or">OR</p>
        <p>Do you have a account? <a href="{{ url_for('login') }}"> sign in</a></p>

      </form>

    </div>
  </div>




    <!-- <div class="myfooter">
      <footer>

      </footer> -->






  </body>
</html>
